DJANGO_DEBUG=0
DJANGO_SECRET_KEY=replace-with-a-long-random-value
DJANGO_ALLOWED_HOSTS=varanstat.sanacloud.ir,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://varanstat.sanacloud.ir
DJANGO_DB_PATH=/home/varanp/varanmis/db.sqlite3
DJANGO_SECURE_COOKIES=1
